/* ----------------- ICONOS -------------------- */
.iredes {
    color: white;
    font-size: 30px;
  }
  
  .face:hover {
    color: #3b5998;
  }
  
  .wpp:hover {
    color: #4FCE5D;
  }
  
  .ig:hover {
    color: #C13584;
  }
  
  .marr {
    color: #331C08;
  }